
.burgerNav {
  height: 100%;
  .mobileMenu {
    @media (max-width: 400px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #000;
      padding: 20px;
      position: absolute;
      cursor: pointer;
      right: 0;
      top: 0;
      left: 0;
      height: 270px;
      gap:15px;
      transform: translateY(-193px);
      transition: ease-in 0.8s;
    }

    .headerLink {
      text-decoration: none;
      color: wheat;
      font-size: 14px;
      letter-spacing: 2px;
      text-transform: uppercase;
      @media (min-width: 400px) {
        display: none;
      }

      &:hover {
        color: #F7D449;
      }

      &:active {
        color: #F7D449;
      }

      .headerElement {
        @media (max-width: 400px) {
          list-style: none;
        }

      }


    }


  }

  .show {
    transform: translateY(1%);

  }

  .burgerBtn {
   background-image: url("../../../assets/image/meat.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    top: 24px;
    right: 15px;
    @media(min-width: 400px) {
      display: none;
    }
  }
}



