
.header {
  background-color: #000;
  position: fixed;
  z-index: 5;
  width: 100%;
  top: 0;
  right: 0;
  @media (max-width: 443px) {
      justify-content: center;
  }
  .container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 30px 20px;
    display: flex;
    justify-content: flex-end;
  }
}

.headerList {
  display: flex;
  width: 500px;
  justify-content: space-between;
  padding-left: 0;

  @media (max-width: 443px){
    max-width: 350px;
  }

  .headerLink {
    text-decoration: none;
    color: wheat;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    @media (max-width: 443px){
      font-size: 18px;
    }
    &:hover {
      color: #F7D449;
    }

    .headerElement {
      list-style: none;
      @media (max-width: 443px) {
        padding-left: 10px;

      }
    }
  }


}




