
.header {
  background-color: #000;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;

  .container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 30px 20px;
    display: flex;
    justify-content: flex-end;
  }
}

.headerList {
  display: flex;
  width: 500px;
  justify-content: space-between;
  padding-left: 0;
  z-index: 1000;

  .headerLink {
    text-decoration: none;
    color: wheat;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    .headerElement {
      list-style: none;
      @media (max-width: 443px) {
        padding-left: 10px;

      }
    }
  }


}


.headerLink:hover {
  color: #F7D449;

}

@media (max-width: 443px) {


  .headerList {
    max-width: 350px;
  }
  .headerLink {
    font-size: 18px;
  }
  .header {
    justify-content: center;
  }
}