
.header {
  background-color: #000;
  opacity: 0.8;
  position: fixed;
  z-index: 5;
  width: 100%;
  top: 0;
  right: 0;
  @media (max-width: 500px) {
    max-width: 500px;
  }
  @media (max-width: 400px) {
    background-color: transparent;
  }

  .container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 30px 20px;
    display: flex;
    justify-content: flex-end;
    @media (max-width: 500px) {
      justify-content: center;
    }
    }
  }


.headerList {
  display: flex;
  width: 500px;
  justify-content: space-between;
  padding-left: 0;
  @media screen and (max-width: 500px){
    max-width: 400px;
  }
  @media screen and (max-width: 400px){
    display: none;
  }

  .headerLink {
    text-decoration: none;
    color: wheat;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    &:hover {
      color: #F7D449;
    }
    &:active{
      color: #F7D449;
    }

    .headerElement {
      list-style: none;
      @media (max-width: 443px) {
        padding-left: 10px;

      }
    }
  }


}




