.wrapperAside{
    background-image: url("../../assets/image/background.jpg");
    background-size: cover;
}

.container{
    max-width: 1250px;
    margin: 0 auto;
    padding:35px;
    text-align: center;
}
.telework{
   font-size: 22px;
    color: #F7D449;
    font-weight: normal;
    letter-spacing: 2px;
    margin-bottom: 30px;
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
    --color-red: wheat;
    --color-purple: wheat;
    --color-white: wheat;
    --color-black-1: wheat;
    --color-black-2: wheat;
    --color-black-3: wheat;
    --speed-normal: 0.5s;
    --speed-fast: 0.8s;
}
a.btnLink {
    position: relative;
    line-height: 70px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-white);
    trasnition: var(--speed-normal);
    padding: 20px 40px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    border:none;

}
@media (max-width: 406px) {
    .telework{
        font-size: 20px;
        margin-bottom: 17px;
    }
    a.btnLink{
        padding: 15px 30px;
    }

}

a.btnLink:hover {

    color:  #343437;
    font-weight: bold;
    background: #343437 url('../../assets/image/pixel2.png');
    transition-delay: 0.8s;
    background-size: 180px;
    animation: animate var(--speed-fast) steps(8) forwards;
}
a.btnLink:last-of-type {
    border: 1px solid var(--color-purple);
}

@keyframes animate {
    0% {
        background-position-y: 0;
    }
    100% {
        background-position-y: -460px;
    }
}





