
.infoMain{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#stars {
    position: relative;
    background:#477ab9;
    width:100%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
#stars:hover {
    background:#3D689C;
}
canvas{
    max-width: 1300px !important;
    height: 100vh !important;
    @media (max-width:1300px) {
        max-width: 1100px !important;
        }
    @media (max-width:1100px) {
        max-width: 900px !important;
    }
    @media (max-width:900px) {
        max-width: 700px !important;
    }
    @media (max-width:700px) {
        max-width: 500px !important;
    }
    @media (max-width:500px) {
        max-width: 320px !important;
    }

}



