

.skillsWrapper {
    background-color: indigo;
}
.wrapper {
    height: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding:25px;
    display: flex;
    flex-direction: column;
   justify-content: flex-start;
    align-items: center;


}


.skills{
  width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 20px;

}




.skillWrapper{
    min-height:350px;
    min-width: 200px;
    border:1px cadetblue solid;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.titleSkill{
    margin-bottom: 30px;
    font-size: 30px;
}
.textSkill {
    margin-bottom: 30px;
}


@media (max-width: 890px) {
    .skills {
        justify-content: center;
    }
    .skillWrapper {
        min-height: 250px;
    }
}