@import '../../Common/sass/variables';

.abouteWrapper {
  background-color: $secondBackground;
  opacity: 0.7;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
  @media (max-width: 570px) {

  }

  .container {
    min-width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px 20px 50px 20px;
    position: relative;
    @media (max-width: 940px) {
      padding-bottom: 20px;
    }
    @media (max-width: 600px) {
      min-height: 348px;
    }
    @media (max-width: 570px) {
      //height: auto;
      //margin-top: -45px;
      //padding-top: 108px;
    }

    &:after {
      content: '';
      width: 200px;
      height: 200px;
      position: absolute;
      top: -120px;
      border-radius: 50%;
      border: 10px solid rgba(0, 0, 0, 0.8);
      background-image: url("../../assets/image/myFoto.jpg");
      background-size: cover;

      @media (max-width: 480px) {
        top: -100px;
        width: 170px;
        height: 170px;
      }

    }

    .title {
      margin-bottom: 50px;
      position: relative;

      .sectionTitle {
        font-size: 20px;
        font-weight: 200;
        margin-top: 0;
        color: $titleColor;
        text-transform: uppercase;
        letter-spacing: 5px;

      }

      &::after {
        content: '';
        position: absolute;
        background: $lineColor;
        transform: translate(-50%, 50%);
        height: 1px;
        width: 50%;
        left: 50%;
        bottom: -17px;

      }
    }

    .aboutP {
      max-width: 1000px;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: 1px;
      text-align: center;

    }
  }
}

