.button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute !important;
  top: 48%;
  z-index: 55;
  cursor: pointer;
  background-color: #1c1c21;
  border: none;
  box-shadow: -4px -4px 5px #28292c, 2px 2px 5px #222,
  inset 5px 5px 10px #444, inset -5px -15px 10px #222;
  color: #222;
  font-size: 16px;
  @media (max-width: 1430px) {
    top: 88%
  }
  @media (max-width: 1027px) {
    top: 87%
  }
  @media (max-width: 547px) {
    width: 70px;
    height: 70px;
    top: 88%
  }


  &:disabled{
    background-color: #2c2c31 !important;
  }

}



.button2 {
  right: 10%;
  margin-right: 4px;
  @media (max-width: 1600px) {
    margin-right: -55px;
  }
  @media (max-width: 1430px) {
   position: absolute;
    right: 45%;
  }

  &:disabled{
    background: url("./../assets/image/arrow/right.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    border: #444 1px solid ;
  }
  &:not([disabled]):after {
    content: "";
    background: url("./../assets/image/arrow/rightYellow.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

  }
}

.button:not([disabled]):hover {
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222, inset -5px -5px 10px #444;
  font-size: 15px;
  transition: 500ms;
  border: 1px solid #444;
}

.button1 {
  left: 10%;
  margin-left: 4px;
  @media (max-width: 1600px) {
    margin-left: -55px;
  }
  @media (max-width: 1430px) {
    position: absolute;
    left: 45%;
  }
  &:disabled{
    background: url("./../assets/image/arrow/left.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    border: #444 1px solid ;
  }
  &:not([disabled]):after{
    content: "";
    background: url("./../assets/image/arrow/leftYellow.png ");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
.decstop{
  display: block;
  @media (max-width: 1166px) {
    display: none;
  }
}
.mobile{
  display: none;
  @media (max-width: 1166px) {
    display: block;
  }
}
