@import '../Common/sass/variables';

.workWrapper {
  background-image: url("../../assets/image/background.jpg");
  position: relative;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: $secondBackground;
  background-size: cover;
  height: 1000px;
  @media (max-width: 1430px) {
    height: 1070px;
    padding-top: 25px;
    padding-bottom: 50px;
  }
  @media (max-width: 1070px) {
    height: 1050px;
  }
  @media (max-width: 547px) {
    height: 1030px;
  }



  .fon {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
  }

  .wrapper {
    max-width: 1250px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    gap: 20px;
    @media (max-width: 1170px) {
      max-width: 800px;
    }

  }
}


/*//Work*/
.cardWrapper{
  position: relative;
  min-width: 330px;
  padding: 10px;
  height: 340px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
  inset -5px -5px 15px rgba(255, 255, 255, 0.1),
  5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
  @media (max-width: 1170px) {
    margin: 20px 0 20px 0;
  }
}
.card {
  width: 450px;
  margin: 10px;
  background-color: $secondBackground;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
  @media (max-width: 590px) {
    width: 400px;
  }
  @media (max-width: 490px) {
    width: 350px;
  }

  @media (max-width: 450px) {
    width: 300px;
  }

  @media (max-width: 400px) {
    width: 285px;
  }

  &:hover {
    .cardCaption {
      top: 50%;
      transform: translateY(-50%);
    }

    .cardImage {
      transform: translateY(-10px);
    }

    .cardThumb {
      ::after {

        top: 0;
      }

    }

    .cardSnippet {
      margin: 20px 0;
    }
  }

  .cardThumb {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    max-height: 400px;
    overflow: hidden;
    border-radius: 15px;
    @media (max-width: 1021px) {
      &::after {
        position: absolute;
        top: 0;
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        transition: 0.3s;
        background-color: rgba(17, 40, 44, 0.63);

      }
    }
    &:hover{
      &::after {
        position: absolute;
        top: 0;
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        transition: 0.3s;
        background-color: rgba(17, 40, 44, 0.63);

      }

    }
  }

}


.cardImage {
  transition: 1s ease-in-out;
  width: 450px;
  height: 300px;
}

.cardCaption {
  position: absolute;
  top: 50%;
  z-index: 1;
  padding: 0 20px;
  letter-spacing: 2px;
  color: white;
  transform: translateY(-30%);
  text-align: center;
  transition: 0.8s;
  @media (max-width: 1022px) {
    top: 43%;
  }
}

.cardTitle {
  display: -webkit-box;
  max-height: 85px;
  overflow: hidden;
  font-size: 35px;
  line-height: 35px;
  text-shadow: 0 1px 10px black;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.cardSnippet {
  display: -webkit-box;
  max-height: 150px;
  margin: 40px 0 20px 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-overflow: ellipsis;
  transition: 0.5s ease-in-out;
  -webkit-box-orient: vertical;
}

.cardButton {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border: 2px solid $lineColor;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    color: black;
    font-weight: bold;
    background-color: $lineColor;
    cursor: pointer;

  }
}

@media (min-width: 1024px) {
  .cardCaption {
    top: calc(100% - 69px);
    transform: unset;
  }
}


@media (min-width: 1024px) {
  .cardSnippet {
    margin: 60px 0;
  }
}


@media (max-width: 1300px) {
  .oneWork {
    min-width: 400px;
  }
}

@media (max-width: 1015px) {
  .wrapper {
    justify-content: center;

  }
}

@media (max-width: 515px) {
  .img {
    max-width: 250px;
    min-height: 200px;
  }
  .oneWork {
    min-width: 280px;
    padding: 15px;
  }
}


