@import '../Common/sass/variables';

.footerWrapper {
  background-color: $backgroundGeneral;
}

.container {
  color: #000000;
  max-width: 1250px;
  margin: 0 auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconGit {
  background-image: url("../assets/githab.png");
  background-repeat: no-repeat;
  width: 65px;
  height: 65px;
}

.iconLink {
  background-image: url("../assets/linkedin.png");
  background-repeat: no-repeat;
  width: 65px;
  height: 65px;

}
.iconCodevars {
  background-image: url("../assets/codewars.png");
  background-repeat: no-repeat;
  width: 65px;
  height: 65px;

}

.iconTeleg {
  background-image: url("../assets/telegram.png");
  background-repeat: no-repeat;
  width: 65px;
  height: 65px;

}


.iconGroup {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
  align-items: center;
  margin: 25px 0 30px 0;

}
.footerText{
  padding-bottom: 10px;
}

@media (max-width: 480px) {
  .name {
    font-size: 20px;
    text-align: center;
  }
}