/**{*/
/*  border: brown solid 1px;*/
/*}*/

body{
  font-family: 'Nunito Sans', sans-serif;
  color: wheat;
  /*background-color: #0e0019;*/
  background-color: #343437;
  box-sizing: border-box;
}



